.StoryplotWrapper {
  width: 100vw;
  height: 100vh;
}


.StoryplotControls {
  position:absolute;
  top: 7rem;
  right: 2rem;
  padding:0.25rem;
  margin: 0.25rem;
  z-index: 999;
}

.StoryplotControls > button {
  margin: 0.25rem;
}