{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-14T04:49:32Z",
    "title": "SWP MVP API"
  },
  "host": "swp.benschdev.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/characters": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CharacterInputModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CharacterInputModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "CharacterUpdateModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CharacterUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/gamesystem": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "GamesystemInputModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GamesystemInputModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GamesystemUpdateModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GamesystemUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/storyplots": {
      "get": {
        "description": "Method to retrieve story data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional ID of the story that should be returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        }
      },
      "post": {
        "description": "Method to create a story",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "StoryplotInputModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoryplotInputModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        }
      },
      "put": {
        "description": "Method to create a new story object",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "StoryplotUpdateModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoryplotUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Method to delete story object",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the storyplot object that will be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CharacterUpdateModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "gamesys_id": {
          "type": "integer"
        },
        "author_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "player_controlled": {
          "type": "boolean"
        },
        "attr_general": {
          "type": "object",
          "properties": {}
        },
        "attr_specific": {
          "type": "object",
          "properties": {}
        }
      },
      "title": "CharacterInputModel"
    },
    "Empty": {
      "type": "object",
      "title": "Empty Schema"
    },
    "CharacterInputModel": {
      "type": "object",
      "required": [
        "author_id",
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "gamesys_id": {
          "type": "integer"
        },
        "author_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "player_controlled": {
          "type": "boolean"
        },
        "attr_general": {
          "type": "object",
          "properties": {}
        },
        "attr_specific": {
          "type": "object",
          "properties": {}
        }
      },
      "title": "CharacterInputModel"
    },
    "StoryplotUpdateModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "author_id": {
          "type": "integer"
        },
        "story_name": {
          "type": "string"
        },
        "storyplot_nodes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "title": "StoryplotUpdateModel"
    },
    "GamesystemUpdateModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "logo": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {}
        },
        "publisher": {
          "type": "object",
          "properties": {}
        }
      },
      "title": "GamesystemInputModel"
    },
    "StoryplotInputModel": {
      "type": "object",
      "required": [
        "author_id",
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "author_id": {
          "type": "integer"
        },
        "story_name": {
          "type": "string"
        },
        "storyplot_nodes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "title": "StoryplotInputModel"
    },
    "GamesystemInputModel": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "logo": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {}
        },
        "publisher": {
          "type": "object",
          "properties": {}
        }
      },
      "title": "GamesystemInputModel"
    }
  },
  "x-amazon-apigateway-endpoint-configuration": {
    "disableExecuteApiEndpoint": true
  }
}